.searchBar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.searchBar input {
    width: 100%;
    padding: 15px 17px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.searchBar input::placeholder {
    color: #666666;
}