.infoCard {
    background: #ffffff;
    border-radius: 15px;
    padding: 30px;
    width: 450px;
    box-shadow: 0 12px 24px rgba(0,0,0,0.15);
    text-align: center;
}

.topOfCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.topOfCard h2 {
    margin: 0;
    font-size: 25px;
    font-weight: 500px;
}

.status {
    padding: 7px 15px;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 500px;
}

.good {
    background-color: rgba(40, 167, 69, 0.2);
    -webkit-text-fill-color: #006d19;
    font-weight: 500;
}

.moderate {
    background-color: rgba(255, 193, 7, 0.2);
    -webkit-text-fill-color: #e59c00;
    font-weight: 500;
}

.unhealthy {
    background-color: rgba(220, 53, 69, 0.2);
    -webkit-text-fill-color: #dc3545;
    font-weight: 500;
}

.veryUnhealthy {
    background-color: rgba(139, 46, 159, 0.2);
    -webkit-text-fill-color: #8b2e9f;
    font-weight: 500;
}

.pmVal {
    font-size: 75px;
    font-weight: 750;
    margin-bottom: 10px;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pmUnits {
    font-size: 20px;
    font-weight: 500;
    -webkit-text-fill-color: #666666;
}

.pmValLabel {
    font-size: 16px;
    color: #666666;
    margin-bottom: 38px;
    font-weight: 500;
    padding-bottom: 35px;
    border-bottom: 1px solid #e0e0e0;
}

.meta {
    font-size: 12px;
    color: #666666;
    text-align: left;
    margin-bottom: 20px;
}

.meta:last-child {
    margin-bottom: 0;
}

.metaLabel {
    font-size: 12px;
    font-weight: 250;
    color: #666666;
    margin-bottom: 5px;
}

.metaVal {
    font-size: 12px;
    color: #333333;
    font-weight: 600;
}