.background {
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    box-sizing: border-box;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
}

.backButton {
    position: absolute;
    left: 100px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 15px 40px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.loadingText, .errorText {
    color: white;
    font-size: 16px;
    margin-top: 30px;
}

.title {
    color: #ffffff;
    font-size: 45px;
    font-weight: 750px;
    margin-bottom: 38px;
    margin-top: 0;
    text-align: center;
}

