.background {
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    box-sizing: border-box;
}

.header {
    width: 100%;
    max-width: none;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-items: center;
    padding: 0 24px;
    margin-bottom: 80px;
}

.backButton {
    grid-column: 1;
    justify-self: start;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 15px 40px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin-left: 200px;
}

.loadingText, .errorText {
    color: white;
    font-size: 16px;
    margin-top: 30px;
}

.title {
    grid-column: 2;
    width: 100%;
    max-width: 800px;
    text-align: center;
    color: #ffffff;
    font-size: 45px;
    font-weight: 750px;
    margin: 0 auto;
}

/*was having issue where resizing window would make
back to serch button go over on top of the title so 
changed my layout to use grid-template-columns which
made it way easier to fix the problem*/
@media (max-width: 700px) {
    .header {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .backButton {
        grid-column: 1;
        align-self: flex-start;
    }

    .title {
        grid-column: 1;
    }
}
