.pageBackground {
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: fit-content;
    padding: 30 px;
    text-align: center;
}

.title {
    color: #ffffff;
    font-size: 
}